### Python OOPs

Class: It is blueprint for creating instance<br>
Each object created using class is instance of htat class.

In [3]:
class Employee:
    pass
emp_1 = Employee()
emp_2 = Employee()
print(emp_1)
print(emp_2)

emp_1.first = "Ritesh"
emp_2.last = "Kumar"
emp_1.email = "ritz@gmail.com"
emp_1.salary = 50000

print(emp_1.salary)

<__main__.Employee object at 0x000001FAF8E6D2D0>
<__main__.Employee object at 0x000001FAF8E6DED0>
50000

In [4]:
a = 5
type(a)

int

In [67]:
class Employee1:
    def __init__(self, first, last, pay):  # 'self' is instance 'first','last,'pay' are arguments        
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '_' + last +'@company.com'
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
        
emp1 = Employee1("Ritesh", "Kumar", 50000)
emp2 = Employee1('Priya', "Maurya", 45000)

# printing fullname of emp1 using method
print(emp1.fullname())

# printing fullname of emp2 using class name, method and argument
print(Employee1.fullname(emp2))

Ritesh Kumar
Priya Maurya

In [46]:
x= 4
print("outside fn x: ",x)

def func(x):
    print('inside fn x : ', x)
    x = 45
    print('inside function x changes', x)
func(x)
print('outside fn')

outside fn x:  4
inside fn x :  4
inside function x changes 45
outside fn