In [8]:
# assaigning new values to string
name = "Ritesh"
print("name init :", name)
name = "kumar"
print("name after assaiggn:",name)

name init : Ritesh
name after assaiggn: kumar

In [23]:
age = 22
print(f"age type : {type(age)} \nage : {age}")
print(f"age type type caste to str : {type(str(age))} \nage: {str(age)}")
print(f"age type type caste to str : {type(float(age))} \nage: {float(age)}")

age type : <class 'int'>
age : 22
age type type caste to str : <class 'str'>
age: 22
age type type caste to str : <class 'float'>
age: 22.0

In [13]:
print(f"I am {age} years old")

I am 22 years old

In [25]:
age = 22
str(age)

'22'

In [26]:
float(age)

22.0

In [27]:
a = True
int(a)

1

In [28]:
str(a)

'True'

In [29]:
float(a)

1.0

In [32]:
print('Hello', 'Ritesh', sep=' + ')

Hello + Ritesh

In [36]:
print(1,3,4,5,6,7,8, sep='+', end='\n')
print('hii')

1+3+4+5+6+7+8
hii

In [9]:
a = '6'
b = '7'
c = int(a)+int(b)
print(c)
print(type(a))
print(type(c))

13
<class 'str'>
<class 'int'>

In [10]:
print(5//2)

2

In [11]:
print(5%2)

1