- // --> quotient
- %  --> Remainder
- /  --> division

In [1]:
print(5//2)
print(5%2)
print((5/2))

2
1
2.5

# conditional flow control

If, Elif, else

In [2]:
loyalty_customer = True
total_bill = 124

if loyalty_customer and total_bill > 100:
    #give 20% discount
    total_bill = total_bill - (total_bill/ 100) * 20
elif total_bill > 100:
    #give 10% discount
    total_bill = total_bill - (total_bill/ 100) * 10
else:
    #sorry no discount, 5% service charge applied.
    print('Sorry, no discount ...')

print('Total Bill: ', float(total_bill))

Total Bill:  99.2

# switch

In [7]:
print(True | False)
print(True or False)

True
True

In [14]:
var = 4
match var:
    case 4:
        print("hi")
    case _:
        print("default")

hi

# for loop

In [20]:
string = 'ritesh'
for item in string:
    print(item)

r
i
t
e
s
h

**iteration goes to 0 to (index - 1)**

In [22]:
names =['ritesh', 'priya', 'sidhant', 'shivang', 'rahul', 'rohit']
for name in names:
    print(name)

ritesh
priya
sidhant
shivang
rahul
rohit

### enumerate()

 Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

In [33]:
names =['ritesh', 'priya', 'sidhant', 'shivang', 'rahul', 'rohit']
for i in enumerate(names):
    print(i)

(0, 'ritesh')
(1, 'priya')
(2, 'sidhant')
(3, 'shivang')
(4, 'rahul')
(5, 'rohit')

In [29]:
# enumerate
names =['ritesh', 'priya', 'sidhant', 'shivang', 'rahul', 'rohit']
for idx, name in enumerate(names):
    print(idx, name)

0 ritesh
1 priya
2 sidhant
3 shivang
4 rahul
5 rohit

# while loop

In [23]:
names =['ritesh', 'priya', 'sidhant', 'shivang', 'rahul', 'rohit']
count = 0
while count < len(names):
    print(names[count])
    count += 1

ritesh
priya
sidhant
shivang
rahul
rohit

In [30]:
for i in enumerate(names):
    print(i)

(0, 'ritesh')
(1, 'priya')
(2, 'sidhant')
(3, 'shivang')
(4, 'rahul')
(5, 'rohit')

# break

The break statement is used to terminate the loop or statement in which it is present. After that, the control will pass to the statements that are present after the break statement, if available. If the break statement is present in the nested loop, then it terminates only those loops which contains break statement.

In [43]:
string = 'Upgrad'
for i in string:
    print(i)
    if i == 'a':
        break
print("not found")

U
p
g
r
a
not found

In [47]:
string = 'Ritesh'
i=0
while True:
    print(string[i])
    if string[i] == 't':
        break
    i +=1
print("out of loop")

R
i
t
out of loop

# continue()

it skips the value next start iteration

In [49]:
string = 'Ritesh'
for i in string:
    if i == 't':
        continue
    else:
        print(i)

R
i
e
s
h

# Pass()

The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute. It is like null operation, as nothing will happen is it is executed. Pass statement can also be used for writing empty loops. Pass is also used for empty control statement, function and classes.

In [53]:
string = 'names'
def fun():
    pass
fun()
for i in string:
    if i in string == 'e':
        print("pass")
        pass
    print(i)

n
a
m
e
s

# Nested loop

In [70]:
for i in range(10):
    print(i)
    for j in range(1,10):
        print(j, end=" ")
    print(" ")

0
1 2 3 4 5 6 7 8 9
1
1 2 3 4 5 6 7 8 9
2
1 2 3 4 5 6 7 8 9
3
1 2 3 4 5 6 7 8 9
4
1 2 3 4 5 6 7 8 9
5
1 2 3 4 5 6 7 8 9
6
1 2 3 4 5 6 7 8 9
7
1 2 3 4 5 6 7 8 9
8
1 2 3 4 5 6 7 8 9
9
1 2 3 4 5 6 7 8 9

In [76]:
for i in range(2):
    for j in range(5):
        print(j, end= " ")
    print()

0 1 2 3 4
0 1 2 3 4

In [78]:
a =isinstance(str, "aa")
print(a)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [79]:
input("")

t

't'